/* Background image */
#bg img {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
@media screen and (max-width: 1024px) {
    #bg img {
      left: 50%;
      margin-left: -512px;
    }
}

/* Wrappers and centered divs */
.title-wrap {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}
.title-body {
    position: relative;
    width: 80%;
    height: 80%;
    padding-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    color: white;   
}
.aboutWrap{
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: left;
    display: inline-block;
}
.about-body{
    position: relative;
    width: 70%;
    height: 80%;
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 10%;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.projectsWrap{
    width: 100%;
    height: 100vh;
    position: relative;
    display: inline-block;
    color: white;
    text-align: left;
}
.projects-body {
    position: relative;
    width: 70%;
    height: 80%;
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 10%;
    padding-bottom: 5%;
}

/*OTHER STUFF TO TIDY */

.listPos, .scrollList {
    font-size: 1.3em;
    cursor: pointer;
    text-align: center;
}
.mainTitle {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 20%;
    text-align: center;
}
i {
    color: rgb(200, 200, 180);
    font-weight: 1;
    transition: all .5s linear;
}
i:hover {
    color:white;
}
.landScroll:hover #chev {
    transform:rotate(90deg);
    color: white;
}
.landScroll {
    color: white;
    padding-top: 5px;
    font-size: .75em;
    font-weight: 300;
    transition: all .5s linear;
}
#chev {
    color: white !important;
}
.info {
    font-size: 1.75em; 
    padding-top: 15%;
    font-weight: 100;
}
.me {
    font-weight: 100;
}
.projects-title {
    font-size: 1.75em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-top: 5%;
}

/* Tab panel */
.tabs{
    padding-top: 5%;
}
.tab-list {
    margin: 0;
    padding-left: 20px;
}
.tab-list li{
    display: inline-block;
    list-style-type: none;
    background-color: #4CAF50;
    border-bottom: 2px solid #858585;
    font-size: 1em;
    color: white;
}
.tab-list li p{
    padding-top: 5px;
    color: white;
    font-size: 1.2em;
    margin-bottom: 3px;
}
.tab-list li.active p{
    color: black;
}
.tab-list li{
    border-radius: 5px 5px 0px 0px;
}
.tab-list li a{
    color: black;
    display: block;
    font-size: small;
    font-weight: 100 !important;
    padding: 3px 5px 3px 5px;
    opacity: 0.8;
}
.tab-list li.active, .tab-list li.hover {
  background-color: white;
  border-bottom: 2px solid white;
  text-decoration: none;
  opacity: 0.8;
}
.tab-list li.active a, .tab-list li a:hover {
  color: #666;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  text-decoration: none;
  opacity: 0.8;
}
.tab-panel {
  display: none;
  background-color: white;
  opacity: 0.8;
  color: black;
  min-height: 50vh;
  max-height: 50vh;
  border-radius: 5px;
  overflow: auto;
}
.tab-panel.active {
  display: block;}
.tab-panel p {
  margin: 20px;}

.projects-content{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.tabs{
    padding-bottom: 10%;
}

  /* Footer */
.footer {
    position: fixed;
    color: white;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footerSocial{
    padding-top: 10px;
}

@media (max-width:767px){
    body{
        overflow: auto;
    }
    .projects-body{
        width: 95%;
        margin-left: 2.5%;
        margin-top: 15%;        
    }
    .tabs{
        padding-bottom: 30%;
    }
    .footer{
        background-color: black;
        opacity: 0.8;
    }

}
@media (min-width:768px){
    body{
    overflow: hidden;
    }
}
