#bg img {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    #bg img {
      left: 50%;
      margin-left: -512px;
    }
}

.text-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.t {
    color: white;
    position: absolute;
}

.page-header {
    display: inline-block;
    position: absolute;
    
    transform: translateX(-50%) translateY(-50%);
    top: 45%;
    
}

.listPos{
    text-align: center;
    position :relative;
}

.scrollList {
    position: relative;
    left: 18.5%;
    font-size: 1.5em;
}
.mainTitle {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    letter-spacing: 5px;
}

.mainUnder {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;

    position: relative;
   
    
}

i {
    color: black;
    font-weight: 1;
    transition: all .5s linear;
}

i:hover {
    color:white;
}



.landScroll #chev {
    transition: transform 1s;
    padding-right: 2px;
}

.landScroll:hover{
    cursor: pointer;
}

.landScroll:hover #chev {
    transform:rotate(90deg);
    color: white;
}



.page-header .landScroll {
    color: white;
    position: absolute;
    left:20%;
    padding-top: 7px;
    font-size: .75em;
    font-weight: 300;
    transition: all .5s linear;

}

.landingPage{
    position: relative;
}

.scrollList{
    text-align: center;
}



@media (max-width:645px) {
    .listPos{
        left: 1% !important;
    }
}

body .padtop0 {
    padding-top: 0px;
}

body .padX0 {
    padding-left: 0px;
    padding-right: 0px;
}

.white {
    color: white;
}

.about {
    position: relative;
}